<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.bdsa2019.lecture11.mobileapp">
  <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="30" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <application android:label="BDSA2019.Lecture11.MobileApp.Android" android:usesCleartextTraffic="true">
    <activity android:name="microsoft.identity.client.BrowserTabActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="msal06229d29-172d-4bd3-ae0c-322a24acd3e3" android:host="auth" />
      </intent-filter>
    </activity>
  </application>
</manifest>
